@import '../../common/variables.scss';

.viewed-page {
    &__title {
        font-size: 20px;
        font-family: $primaryFont;
    }

    &__notice {
        font-size: 20px;
        font-family: $primaryFont;
    }
}
