@import '../../common/variables.scss';

.main-page {
    &__title {
        font-size: 20px;
        font-family: $primaryFont;
    }

    &__search {
        display: flex;
        align-items: center;
    }

    &__input {
        padding: 5px;
        outline: none;
        margin-right: 10px;
        font-family: $primaryFont;
        font-weight: 200;
    }

    &__button-search {
        background: transparent;
        border: 1px solid black;
        border-radius: 2px;
        outline: none;
        cursor: pointer;
        font-family: $primaryFont;
        padding: 6px;

        &:hover {
            background: rgba(0, 0, 0, 0.1);
        }
    }
}
