/* font-family */

$primaryFont: 'Trebuchet MS',
    'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;

$defaultWhiteColor: rgb(255, 255, 255);
$defaultBlackColor: rgb(0, 0, 0);
